<ion-content no-padding [class]="noScroll" id="bg-image">
  <div id="dashboard-container">
    <div id="dashboard-wrap" class="flush">
      <div id="dashboard-main-content">
        <div id="register-container" class="container">

          <div class="login-pane">
            <div id="login-page" class="auth-form-wrapper" style="margin-top: 70px;">
              <div class="text-center" [style.display]="showImage">
                <img src='assets/img/logo.png' class="round-image" width="96" height="96" alt="Boating Club" />
                <div class="splash-bg">
                  <div class="splash-intro rn-q9ob72">
                    <h1>Rokana and Mufulira Boating Clubs</h1>
                  </div>
                </div>
              </div>

              <div class="form-wrapper">
                <form [formGroup]="loginForm" (submit)="Login()" novalidate>
                  <div class="floating relatively">
                    <input type="email" value="" [class]="email_dirty" name="email" id="id_email" tabindex="1"
                      #email formControlName="email" (change)="emailChanged()" [class.invalid]="!validEmail && (emailchanged || submitAttempt)"
                      required>  
                      <!-- class=""-->
                    <label for="id_email">
                      <span>Email</span>
                    </label>
                  </div>
                  <div *ngIf="!validEmail && (emailchanged || submitAttempt)" class="alert alert-danger">
                    Email is invalid
                  </div>                  
                  <div class="floating relatively">
                    <input [type]="type" value="" name="password" id="id_password" tabindex="2" [class]="password_dirty" required="" #password
                      formControlName="password" (change)="passwordChanged()" [class.invalid]="!validPassword && (passwordchanged || submitAttempt)">                   
                    <label for="id_password">
                      <span>Password</span>
                    </label>
                    <div no-padding (click)="togglePasswordVisible($event)" tappable>
                      <ion-icon class="eye" item-end [(name)]="passicon" color="dark"></ion-icon>
                    </div>
                  </div>

                  <div class="error-message" *ngIf="!validPassword && (submitAttempt)">
                    <p>You must provide a password.</p>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" tabindex="3" >       
                        <!-- [disabled]="!isFormValid"                                    -->
                      <span class="login-button-icon"></span>Log in</button>
                  </div>
                  <div ion-col col-12 no-padding>
                    <div class="text-center help">Forgot your password? &nbsp;
                      <a title="Reset Password?" (click)="resetPassword()" style="text-align:center; margin-top:0px; color:#0067b8;">Reset it</a>
                    </div>
                  </div>
                  <div ion-col col-12 text-center>
                    <div style="margin-top:-15px; font-weight: bold;">
                      OR
                    </div>
                  </div>
                </form>
                <div ion-row no-padding no-margin [style.margin-top.px]="margin_top">
                  <ion-col col-12>
                    <div padding-horizontal>
                      <div class="text-center help">Don't have a Member account?
                        <a class="btn white outline sm" (click)="Signup()">
                          Sign Up
                        </a>
                      </div>
                    </div>
                  </ion-col>
                </div>
              </div>
            </div>
          </div>

          <div class="register-pane" id="register-info">
            <div id="register-info-wrap">
              <div id="register-content">
                <img src="../../assets/imgs/seen-the-future.png" alt="The future">
              </div>
            </div>
            <div id="register-bottom">
              <div id="register-note">You're in good company</div>
              <div id="register-logos"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>