<ion-header>

  <ion-navbar>
    <button menuToggle ion-button clear>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MyProfile</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div class="profile" [style.background-image]="'url(' + userProfile?.photoURL + ')'">
      <div class="profile-image">
        <img *ngIf="userProfile?.photoURL" [src]="userProfile?.photoURL" alt="User Profile Picture" />
        <ion-icon *ngIf="!userProfile?.photoURL" name="ios-contact" style="font-size: 80px;"></ion-icon>
      </div>
      <div class="userdata">
        <h2 style="margin-bottom:3px;">{{ userProfile?.email }}</h2>
        <p>{{ userProfile?.site }}</p>
      </div>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding-horizontal>
  <ion-card *ngIf="userProfile">
    <ion-list>
      <ion-item *ngIf="userProfile.displayName">
        Display Name:{{ userProfile?.displayName }}
      </ion-item>
      <ion-item>
        Email: {{ userProfile?.email }}
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <button ion-item (click)="mailPreferences()">
        <ion-icon item-start name="mail"></ion-icon>
        Email Preferences
      </button>      
      <button ion-item (click)="gotoHistory()">
        <ion-icon item-start name="time"></ion-icon>
        Checkin History
      </button>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <button ion-item (click)="signOut()">
        <ion-icon name='log-out' item-start></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-card>

</ion-content>