<ion-header no-shadow no-border>
  <ion-navbar color='primary'>
    <ion-title>SiteLocations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div *ngIf="lat && lng">
    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationChosen($event)">
      <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationSelected">
        <agm-info-window>
          <h3>
            <strong>Howdy!</strong>
          </h3>
          <p></p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <ion-fab left bottom>
      <button ion-fab color="primary" (click)="getDirections($event)">
        <ion-icon name="navigate"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>