.light-theme {
  .note {
    color: #fff;
  }
  ion-content {
    background-color: #efefef;
  }
  .bar-button {
    color: #fff;
  }
  .back-button {
    color: #fff;
  }
  // .toolbar-background {
  //   background-color: #fff;
  // }
}

