<ion-list no-lines class="list-on-ios">
  <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
    <ion-icon [name]='p.icon' item-start></ion-icon>
    {{p.title}}
  </button>
</ion-list>
<ion-list no-lines>
  <div style="height: 0px; margin-bottom: 5px; padding: 0px; border-top: 1px solid #dedede;"></div>
  <button menuClose ion-item>
    <ion-icon name='person' item-start></ion-icon>
    Account
  </button>
  <!-- <button menuClose ion-item (click)="SwipePage()">
            <ion-icon name='person' item-start></ion-icon>
            Swipe
          </button> -->
  <button menuClose ion-item (click)="signOut()">
    <ion-icon name='log-out' item-start></ion-icon>
    Logout
  </button>
</ion-list>