.ios,
.md {
page-reset-password {
.error-message{
    color: red;
}
#login-page h1,
#register-page h1,
#reset-page h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px
}

#login-page h3,
#register-page h3,
#reset-page h3 {
  margin-top: 7px;
  font-size: 16px;
  margin-bottom: 52px;
  font-weight: 600;
  color: #808da2
}

#login-page .spin,
#register-page .spin,
#reset-page .spin {
  animation: 1s f linear infinite
}

#login-page .floating,
#register-page .floating,
#reset-page .floating {
  margin-bottom: 15px
}

#login-page .floating+.form-group .btn,
#register-page .floating+.form-group .btn,
#reset-page .floating+.form-group .btn {
  margin-top: -2px;
  padding-top: 18px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .12em;
  transition: all .15s ease;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .08)
}

#login-page .floating+.form-group .btn:hover,
#register-page .floating+.form-group .btn:hover,
#reset-page .floating+.form-group .btn:hover {
  background: #5794ff;
  border-color: #5794ff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .08)
}

#login-page .floating input,
#login-page .floating label,
#register-page .floating input,
#register-page .floating label,
#reset-page .floating input,
#reset-page .floating label {
  font-weight: 600
}

#login-page .floating input,
#register-page .floating input,
#reset-page .floating input {
  padding: 14px 15px 8px;
  font-size: 14px
}

#login-page .errorlist,
#register-page .errorlist,
#reset-page .errorlist {
  max-width: 230px;
  margin: 25px auto 0
}

#login-page .form-wrapper,
#register-page .form-wrapper,
#reset-page .form-wrapper {
  margin: 43px auto 25px;
  width: 100%;
  max-width: 400px
}

#login-page .legal-text,
#register-page .legal-text,
#reset-page .legal-text {
  text-align: center;
  display: block;
  margin-top: 15px;
  font-size: 10px;
  color: #bfc2c8
}

#login-page .legal-text a,
#register-page .legal-text a,
#reset-page .legal-text a {
  color: #8a909a
}

#login-page .legal-text a:hover,
#register-page .legal-text a:hover,
#reset-page .legal-text a:hover {
  color: #488aff
}

#register-container.signup .error {
  text-align: center
}

#reset-page .help i {
  transition: transform .3s ease;
  display: inline-block
}

#reset-page .help:hover i {
  transform: translateX(-3px)
}
}}
