<ion-header >  
  <ion-navbar color="primary" no-shadow>
    <title>Events</title>
    <!-- <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar color="primary" class="toolbar">
    <div class="header-line">
      <ion-row>
        <ion-col>
          <h1 class="leading-text">
            UPCOMING
          </h1>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -20px;">
        <ion-col></ion-col>
        <ion-col style="margin-right: -30px;">
          <div style="text-align:center; background-color:#fff; color:#1976D2; width: 100%; height: 30px;">
            <h2>
              EVENTS
            </h2>
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align:center; background-color:#003366; color:#fff; width: 100%; height: 50px;">
            <h1 style="vertical-align: center; font-size: 4rem; margin-top:2px;">
              {{currentYear}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content padding no-margin>  
  <ion-card *ngFor="let se of eventList">
    <ion-card-header class="eventDate" text-left>
      <h2 style=" font-size:2.5rem; font-weight: 900;">{{se.title}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-row no-padding no-margin>
        <ion-col col-3 text-left>
          <div>
            <h2>{{se.startDate | date:'mediumDate'}}</h2>
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <ion-icon ios="ios-pin" md="md-pin" style="color:#999999;" *ngIf="se.location"></ion-icon> {{se.location}}
          <p>{{se.description}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
 
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>