<ion-header>

  <ion-navbar>
    <ion-title>Checkin</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search the members list"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row align-items-center justify-content-center>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center>
        <ion-segment [(ngModel)]="club" color="primary">
          <ion-segment-button value="Nkana">
            Nkana
          </ion-segment-button>
          <ion-segment-button value="Mufulira">
            Mufulira
          </ion-segment-button>
          <ion-segment-button value="Guest">
            Guest
          </ion-segment-button>
        </ion-segment>

      </ion-col>
    </ion-row>
    <div *ngIf="isLoading" style="margin: auto; margin-top: 5px;" text-center>
      <ion-spinner name="bubbles" style="color:#488aff;" item-center></ion-spinner>
      <p style="color:#488aff;">
        <i>Loading... </i>
      </p>
    </div>

    <ion-row align-items-center justify-content-center>
      <ion-col col-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 align-self-center>
        <div [ngSwitch]="club">

          <ion-list *ngSwitchCase="'Nkana'">
            <ion-card>
              <ion-item *ngIf="!members">
                No Member Loaded Yet!!!
              </ion-item>

            </ion-card>
            <ion-item *ngIf="!members">
              No Member Loaded Yet!!!
            </ion-item>
            <div *ngIf="members">
              <!-- <ion-card> </ion-card> -->
              <ion-card ion-item *ngFor="let member of members">
                <ion-avatar item-start>
                  <img *ngIf="item?.profilePic" [src]="item?.profilePic" />
                  <ion-icon name="ios-contact" style="font-size: 50px;"></ion-icon>
                </ion-avatar>
                <div class="" (click)="viewDetails(member)" tappable>
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  <h6 style="color:grey;">{{member.about}}</h6>
                </div>
                <button item-end ion-button icon-only clear (click)="showPopOver($event, member)">
                  <ion-icon name='more' style="font-size: 30px;"></ion-icon>
                </button>
              </ion-card>
            </div>
          </ion-list>

          <ion-list *ngSwitchCase="'Mufulira'">
            <ion-card>
              <ion-item *ngIf="!mufMembers">
                No Member Loaded Yet!!!
              </ion-item>
            </ion-card>
            <div *ngIf="mufMembers">
              <ion-card ion-item *ngFor="let member of mufMembers">
                <ion-avatar item-start>
                  <img *ngIf="item?.profilePic" [src]="item?.profilePic" />
                  <ion-icon name="ios-contact" style="font-size: 50px;"></ion-icon>
                </ion-avatar>
                <div class="" (click)="viewDetails(member)" tappable>
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  <h6 style="color:grey;">{{member.about}}</h6>
                </div>
                <button item-end ion-button icon-only clear (click)="showPopOver($event, member)">
                  <ion-icon name='more' style="font-size: 30px;"></ion-icon>
                </button>
              </ion-card>
            </div>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

